In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__

'2.7.0'

Load the Dataset

In [ ]:
dataset = pd.read_csv('/content/Churn_Modelling.csv')

In [ ]:
dataset.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0
5          6    15574012       Chu  ...               0       149756.71      1
6          7    15592531  Bartlett  ...               1        10062.80      0
7          8    15656148    Obinna  ...               0       119346.88      1
8          9    15792365        He  ...               1        74940.50      0
9         10    15592389        H?  ...               1        71725.73      0

[10 rows x 14 columns]

In [ ]:
X = dataset.iloc[:, 3:-1]
y = dataset.iloc[:, -1]

In [ ]:
print(X)

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [ ]:
print(y)

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

Checking for null values

In [ ]:
X.isnull().count

<bound method DataFrame.count of       CreditScore  Geography  ...  IsActiveMember  EstimatedSalary
0           False      False  ...           False            False
1           False      False  ...           False            False
2           False      False  ...           False            False
3           False      False  ...           False            False
4           False      False  ...           False            False
...           ...        ...  ...             ...              ...
9995        False      False  ...           False            False
9996        False      False  ...           False            False
9997        False      False  ...           False            False
9998        False      False  ...           False            False
9999        False      False  ...           False            False

[10000 rows x 10 columns]>

In [ ]:
y.isnull().count

<bound method Series.count of 0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Exited, Length: 10000, dtype: bool>

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer = imputer.fit(X.iloc[:, 3:])
X.iloc[:, 3:] = imputer.transform(X.iloc[:, 3:])

In [ ]:
print(X)

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...        1.0             1.0        101348.88
1             608     Spain  Female  ...        0.0             1.0        112542.58
2             502    France  Female  ...        1.0             0.0        113931.57
3             699    France  Female  ...        0.0             0.0         93826.63
4             850     Spain  Female  ...        1.0             1.0         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...        1.0             0.0         96270.64
9996          516    France    Male  ...        1.0             1.0        101699.77
9997          709    France  Female  ...        0.0             1.0         42085.58
9998          772   Germany    Male  ...        1.0             0.0         92888.52
9999          792    France  Female  ...        1.0             0.0         38190.78

[10000 rows x 10 columns]

Encoding categorical Data

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X.iloc[:, 2] = le.fit_transform(X.iloc[:,2])

In [ ]:
print(X)

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France       0  ...        1.0             1.0        101348.88
1             608     Spain       0  ...        0.0             1.0        112542.58
2             502    France       0  ...        1.0             0.0        113931.57
3             699    France       0  ...        0.0             0.0         93826.63
4             850     Spain       0  ...        1.0             1.0         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France       1  ...        1.0             0.0         96270.64
9996          516    France       1  ...        1.0             1.0        101699.77
9997          709    France       0  ...        0.0             1.0         42085.58
9998          772   Germany       1  ...        1.0             0.0         92888.52
9999          792    France       0  ...        1.0             0.0         38190.78

[10000 rows x 10 columns]

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('Geography', OneHotEncoder(),[1])], remainder= 'passthrough')
X = ct.fit_transform(X)

In [ ]:
print(X)

[[1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]

Splitting the dataset into training and test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state= 0)

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform (X_train)
X_test = sc.transform(X_test)

#Building ANN

###Initializing ANN

In [ ]:
ann = tf.keras.models.Sequential()

Adding input layer and 1st hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units= 6, activation="relu"))

Adding second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation= "relu"))

Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation= "sigmoid"))

#Training the ANN

Compiling

In [ ]:
ann.compile(optimizer= "adam", loss= "binary_crossentropy", metrics= ["accuracy"])

In [ ]:
ann.fit(X_train, y_train, batch_size= 32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7384 - accuracy: 0.5251
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5539 - accuracy: 0.7955
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5112 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4822 - accuracy: 0.7961
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4452 - accuracy: 0.8031
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4193 - accuracy: 0.8184
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8269
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3870 - accuracy: 0.8365
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3734 - accuracy: 0.8454
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3634 - accuracy: 0.8515
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3568 - accuracy: 0.8546
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3526 - accuracy: 0.8583
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8587
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8602
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3465 - accuracy: 0.8589
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8604
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8604
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8614
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8614
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8601
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8635
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8614
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8609
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8629
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8614
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8629
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8618
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8643
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8633
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8633
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8633
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8624
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8627
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8626
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8621
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8639
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8641
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8635
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8631
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8626
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8640
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3372 - accuracy: 0.8636
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8624
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8626
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8641
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8629
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8636
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8636
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8639
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8634
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8635
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8639
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8634
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8625
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8630
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8639
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8648
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8636
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8644
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8646
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8654
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8648
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8650
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8649
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8640
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8636
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8640
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8646
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8633
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8652
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8645
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8637
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3347 - accuracy: 0.8644
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8641
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8654
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8633
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8654
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8639
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8636
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8641
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8643
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8630
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8644
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8635
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8644
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8637
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8636
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8637
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8627
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8633
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8645
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8633
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8626
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8637
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8635
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8643
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8652
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8640
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8649
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8648

In [ ]:
y_pred = ann.predict(X_test)
y_pred[:, 0]

array([0.18640298, 0.3184519 , 0.19635469, ..., 0.1636301 , 0.181532  ,
       0.16816953], dtype=float32)